<div
  class="container"
  style="
    backdrop-filter: blur(2px);
    position: sticky !important;
    top: 0rem;
    padding-top: 1rem;
    border-bottom: thin solid #5cee9a;
    z-index: 999;
  "
>
  <small>
    <span class="tag"
      ><i class="fas fa-bullhorn"></i> <strong>Early access:<br /></strong>
      <a href="https://leanpub.com/elm-for-react-devs/"
        >An Elm Primer for React Developers:
        <small>The Best Way to Learn Real Functional Programming</small></a
      ></span
    >
  </small>
</div>
